.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.lnk {
    color: rgb(186 22 163) ;
    text-decoration: none ;
}
.clk{
background: rgb(186 22 163) !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Default state for search input */
.input-group .form-control {
  width: 150px;
  transition: width 0.3s ease-in-out;
}

/* Expanded state when the input is focused */
.search-expanded .form-control {
  width: 300px; /* You can adjust this width */
}
.btn{
  background-color: rgb(186 22 163) !important;
}