:root {
  --primary-color: rgb(186 22 163);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.lnk {
    color: var(--primary-color);
    text-decoration: none ;
}
.clk{
background: rgb(186 22 163) !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Default state for search input */
.input-group .form-control {
  width: 150px;
  transition: width 0.3s ease-in-out;
}

/* Expanded state when the input is focused */
.search-expanded .form-control {
  width: 300px; /* You can adjust this width */
}
input, textarea{ 
  border: 1px solid var(--primary-color) !important;
}
.input-group span{
border: 1px solid var(--primary-color) !important;
}
.btn-primary{
  background-color: var(--primary-color) !important;
}